.header {
    border: 1px dashed grey;
}

.display-1{
    color: #ff3e00;
  }

.position {
    border: 1px dashed black;
}

.hidden{
    display: none;
}

div.htmx-swapping div {
    opacity: 0;
    transition: opacity .25s ease-out;
}

.type_expense{
    color: #ff3e00;
}

.type_income{
    color: #207407;
}

.header-main-info{
    font-size: 1.05em;
    font-weight: bold;
}

.position-main-info{
    font-size: 1.05em;
}

.position-additional-info{
    font-style: italic;
}