services:
  proxy:
    container_name: budget_tracker_nginx
    build: nginx
    ports:
      - 81:81
    depends_on:
      - website
      - dashboard
    networks:
      - budget_tracker_network


  website:
    container_name: budget_tracker_website
    build: ./website
    env_file:
      - website/.env
    volumes:
      - ./website/app:/website/app
      - ./website/frontend:/website/frontend
    restart: always
    depends_on:
      - database
    networks:
      - budget_tracker_network

  dashboard:
    container_name: budget_tracker_dashboard
    build: ./dashboard
    env_file:
      - dashboard/.env
    volumes:
      - ./dashboard:/dashboard
    restart: always
    depends_on:
      - database
    networks:
      - budget_tracker_network

  database:
    container_name: budget_tracker_db
    image: postgres:16.6
    environment:
      - POSTGRES_DB=${DB_NAME:-budget_tracker}
      - POSTGRES_USER=${DB_USER:-user}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-password}
    networks:
      - budget_tracker_network

networks:
  budget_tracker_network: