{% for position in incexp_header_form.positions %}
    <select id={{position.category.id}} name={{position.category.id}}>
        {% for option in position.category  %}
            {% if loop.index == 1%}
                <option value="00_0000" selected="selected">{{option.label}}</option>  
            {% else %}
                {{ option }}
            {% endif %}
        {% endfor %}
    </select>
{% endfor %}