<tr class="parent-row">
    <td>{{ category.id }}</td>
    <td>
        <input type="text" class="form-control form-control-sm" name="category_name_pl" value="{{ category.name_pl }}">
    </td>
    <td></td>
    <td></td>
    <td class="text-nowrap">
        <button type="button" class="btn btn-danger btn-sm" hx-get="{{ '/type/%s/category/%s/read' %(type_id, category.id) }}" hx-target="closest tr" hx-swap="outerHTML">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" hx-put="{{ '/type/%s/category/%s' %(type_id, category.id) }}" hx-include="closest tr" hx-target="closest tr" hx-swap="outerHTML">Submit</button>
    </td>
</tr>
