{% extends "base.html" %}
{% block content %}

    <div class="container py-2 border border-warning rounded">
        <h6>Dodaj nową kategorię</h6>  
         <form action='/type/{{ type_id }}/category' method="POST"> 
            <div class="row">
                <div class="col-6">
                    <input type="text" id="category_name_pl" name="category_name_pl" placeholder="Wpisz nazwę">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Prześlij</button>
                </div>
            </div>
        </form>
    </div>


    {% for category in categories %}
    <div class="container mt-2 py-2 border border-warning rounded">

        <div class="container mt-2" hx-target="this" hx-swap="innerHTML">
            <div class="row border p-2 border-primary rounded">
                <div class="col"><span>{{ category.id }}</span></div>    
                <div class="col"><span>{{ category.name_pl }}</span></div>    
                <div class="col"><button hx-get="{{ '/type/%s/category/%s/edit' %(type_id, category.id) }} " class="btn btn-warning">Zmień</button></div>
            </div> 
        </div>   

        <div class="container mt-2 border border-white rounded">
            {% for subcategory in category.subcategories %}
                <div class="container my-2" hx-target="this" hx-swap="innerHTML">
                    <div class="row p-2 border-bottom border-white" >
                        <div class="col"><span>{{ subcategory.id }}</span></div>    
                        <div class="col"><span>{{ subcategory.name_pl }}</span></div>    
                        <div class="col"><button hx-get="{{ '/type/%s/category/%s/subcategory/%s/edit' %(type_id, category.id, subcategory.id) }} " class="btn btn-warning">Zmień</button></div>
                    </div> 
                </div>   
            {% endfor %}
                
                            
                <div class="container py-2 my-2 border border-warning rounded">
                    <h6>Dodaj podkategorię</h4>
                    <form action="{{ '/type/%s/category/%s/subcategory' %(type_id, category.id) }} " method="POST"> 

                        <div class="row">
                            <div class="col-6">
                                <input type="text" id="new_subcategory_name" name="new_subcategory_name" placeholder="Wpisz nazwę">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary">Prześlij</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
    {% endfor %}



{% endblock %}
