{% extends "base.html" %}
{% block content %}

    <h2>Kategorie i podkategorie</h2>

    <div class="list-section border border-warning rounded p-3">
        <h6 class="mb-3">Dodaj kategorię</h6>
        <form action="/type/{{ type_id }}/category" method="POST">
            <div class="row g-2 align-items-center">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="category_name_pl" name="category_name_pl" placeholder="Wpisz nazwę">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Prześlij</button>
                </div>
            </div>
        </form>
    </div>

    {% for category in categories %}
    <div class="list-section border border-warning rounded p-3">
        <table class="table table-dark table-hover table-sm mb-0">
            <thead>
                <tr>
                    <th scope="col" style="width:10%">ID</th>
                    <th scope="col" style="width:35%">Nazwa</th>
                    <th scope="col" style="width:25%">Typ</th>
                    <th scope="col" style="width:15%">Status</th>
                    <th scope="col" style="width:15%">Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% with category=category %}
                    {% include "types/category_read.html.jinja" %}
                {% endwith %}
                {% for subcategory in category.subcategories %}
                    {% with subcategory=subcategory %}
                        {% include "types/subcategory_read.html.jinja" %}
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>

        <div class="border border-secondary rounded p-3 mt-3">
            <h6 class="mb-3">Dodaj podkategorię</h6>
            <form action="{{ '/type/%s/category/%s/subcategory' %(type_id, category.id) }}" method="POST">
                <div class="row g-2 align-items-center">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="new_subcategory_name" name="new_subcategory_name" placeholder="Wpisz nazwę">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Prześlij</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}

{% endblock %}
