{% extends "base.html" %}
{% block content %}

    <h2>Kategorie i podkategorie</h2>


    <div class="container py-2 border border-warning rounded">
        <div class="container">
            <h6>Dodaj kategorię</h6>  
            <form action='/type/{{ type_id }}/category' method="POST"> 
                <div class="row">
                    <div class="col-6">
                        <input type="text" id="category_name_pl" name="category_name_pl" placeholder="Wpisz nazwę">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Prześlij</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    {% for category in categories %}
    <div class="container mt-2 py-2 border border-warning rounded">

        <div class="container mt-2">
            <div class="container mt-2" hx-target="this" hx-swap="innerHTML">
                {% with category=category %}
                    {% include "types/category_read.html.jinja" %}
                {% endwith %}
            </div>   
        </div>   

        <div class="container mt-2 border border-white rounded">
            {% for subcategory in category.subcategories %}
                <div class="container my-2" hx-target="this" hx-swap="innerHTML">
                    {% with subcategory=subcategory %}
                        {% include "types/subcategory_read.html.jinja" %}
                    {% endwith %}
                </div>   
            {% endfor %}
                            
            <div class="container py-2 my-2 border border-warning rounded">
                <h6>Dodaj podkategorię</h4>
                <form action="{{ '/type/%s/category/%s/subcategory' %(type_id, category.id) }} " method="POST"> 

                    <div class="row">
                        <div class="col-6">
                            <input type="text" id="new_subcategory_name" name="new_subcategory_name" placeholder="Wpisz nazwę">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary">Prześlij</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}



{% endblock %}
