<tr class="child-row">
    <td>{{ subcategory.id }}</td>
    <td>{{ subcategory.name_pl }}</td>
    <td>
        {% if type_id == "1" %}
            {% if subcategory.is_fixed_cost == 0 %}
                <span class="badge bg-info status-badge">Koszt zmienny</span>
            {% else %}
                <span class="badge bg-primary status-badge">Koszt stały</span>
            {% endif %}
        {% else %}
            {% if subcategory.is_fixed_cost == 0 %}
                <span class="badge bg-info status-badge">Dochód zmienny</span>
            {% else %}
                <span class="badge bg-primary status-badge">Dochód stały</span>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if subcategory.is_active == 1 %}
            <span class="badge bg-success status-badge">Aktywna</span>
        {% else %}
            <span class="badge bg-secondary status-badge">Zawieszona</span>
        {% endif %}
    </td>
    <td>
        <button hx-get="{{ '/type/%s/category/%s/subcategory/%s/edit' %(type_id, subcategory.category_id, subcategory.id) }}" hx-target="closest tr" hx-swap="outerHTML" class="btn btn-warning btn-sm">Zmień</button>
    </td>
</tr>
