  <div class="row border p-2 border-white rounded" hx-target="this" hx-swap="outerHTML">
      <div class="col-2"><span>{{ subcategory.id }}</span></div>    
      <div class="col-4"><span>{{ subcategory.name_pl }}</span></div>
      <div class="col-3">
        {% if type_id == "1" %}
            {% if subcategory.is_fixed_cost == 0 %}
                <span>Koszt zmienny</span>
            {% else %}
                <span>Koszt stały</span>
            {% endif %}
        {% else %}
            {% if subcategory.is_fixed_cost == 0 %}
                <span>Dochód zmienny</span>
            {% else %}
                <span>Dochód stały</span>
            {% endif %}
        {% endif %}
      </div>    
      <div class="col-1">
            <button hx-get="{{ '/type/%s/category/%s/subcategory/%s/edit' %(type_id, subcategory.category_id, subcategory.id) }} "  class="btn btn-warning">Zmień</button>
      </div>
      <div class="col-1"></div>

  </div> 