<tr class="child-row">
    <td>{{ subcategory.id }}</td>
    <td>
        <input type="text" class="form-control form-control-sm" name="subcategory_name_pl" value="{{ subcategory.name_pl }}">
    </td>
    <td>
        <select class="form-select form-select-sm" name="subcategory_fixed_cost">
            {% if type_id == "1" %}
                {% if subcategory.is_fixed_cost == 0 %}
                    <option selected value="0">Koszt zmienny</option>
                    <option value="1">Koszt stały</option>
                {% else %}
                    <option value="0">Koszt zmienny</option>
                    <option selected value="1">Koszt stały</option>
                {% endif %}
            {% else %}
                {% if subcategory.is_fixed_cost == 0 %}
                    <option selected value="0">Dochód zmienny</option>
                    <option value="1">Dochód stały</option>
                {% else %}
                    <option value="0">Dochód zmienny</option>
                    <option selected value="1">Dochód stały</option>
                {% endif %}
            {% endif %}
        </select>
    </td>
    <td>
        <select class="form-select form-select-sm" name="subcategory_is_active">
            {% if subcategory.is_active == 1 %}
                <option selected value="1">Aktywna</option>
                <option value="0">Zawieszona</option>
            {% else %}
                <option value="1">Aktywna</option>
                <option selected value="0">Zawieszona</option>
            {% endif %}
        </select>
    </td>
    <td class="text-nowrap">
        <button type="button" class="btn btn-danger btn-sm" hx-get="{{ '/type/%s/category/%s/subcategory/%s/read' %(type_id, subcategory.category_id, subcategory.id) }}" hx-target="closest tr" hx-swap="outerHTML">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" hx-put="{{ '/type/%s/category/%s/subcategory/%s' %(type_id, subcategory.category_id, subcategory.id) }}" hx-include="closest tr" hx-target="closest tr" hx-swap="outerHTML">Submit</button>
    </td>
</tr>
