<tr class="child-row">
    <td>{{ account.id }}</td>
    <td>
        <input type="text" class="form-control form-control-sm" name="account_name_pl" value="{{ account.name_pl }}">
    </td>
    <td>
        <select class="form-select form-select-sm" name="account_is_active">
            {% if account.is_active == 1 %}
                <option selected value="1">Aktywne</option>
                <option value="0">Zawieszone</option>
            {% else %}
                <option value="1">Aktywne</option>
                <option selected value="0">Zawieszone</option>
            {% endif %}
        </select>
    </td>
    <td class="text-nowrap">
        <button type="button" class="btn btn-danger btn-sm" hx-get="{{ '/owners/%s/accounts/%s/read' %(account.owner_id, account.id) }}" hx-target="closest tr" hx-swap="outerHTML">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" hx-put="{{ '/owners/%s/accounts/%s' %(account.owner_id, account.id) }}" hx-include="closest tr" hx-target="closest tr" hx-swap="outerHTML">Submit</button>
    </td>
</tr>
