<tr class="child-row">
    <td>{{ account.id }}</td>
    <td>{{ account.name_pl }}</td>
    <td>
        {% if account.is_active == 1 %}
            <span class="badge bg-success status-badge">Aktywne</span>
        {% else %}
            <span class="badge bg-secondary status-badge">Zawieszone</span>
        {% endif %}
    </td>
    <td>
        <button hx-get="{{ '/owners/%s/accounts/%s/edit' %(account.owner_id, account.id) }}" hx-target="closest tr" hx-swap="outerHTML" class="btn btn-warning btn-sm">Zmień</button>
    </td>
</tr>
