<tr class="parent-row">
    <td>{{ owner.id }}</td>
    <td>{{ owner.name_pl }}</td>
    <td><span class="text-secondary">—</span></td>
    <td>
        <button hx-get="{{ '/owners/%s/edit' % owner.id }}" hx-target="closest tr" hx-swap="outerHTML" class="btn btn-warning btn-sm">Zmień</button>
    </td>
</tr>
