<tr class="parent-row">
    <td>{{ owner.id }}</td>
    <td>
        <input type="text" class="form-control form-control-sm" name="owner_name_pl" value="{{ owner.name_pl }}">
    </td>
    <td></td>
    <td class="text-nowrap">
        <button type="button" class="btn btn-danger btn-sm" hx-get="{{ '/owners/%s/confirmed' % owner.id }}" hx-target="closest tr" hx-swap="outerHTML">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" hx-put="{{ '/owners/%s' % owner.id }}" hx-include="closest tr" hx-target="closest tr" hx-swap="outerHTML">Submit</button>
    </td>
</tr>
