{% extends "base.html" %}

{% block content %}
    <h2 class="pt-2">Dochody i wydatki</h3>

    {# FILTERS #}
    <div  class="container my-2 border border-white rounded">


        <button class="btn btn-primary my-2" hx-on:click="htmx.toggleClass(htmx.find('#incexp-filters-form'), 'hidden');">
            Filtruj rekordy
        </button>

        <form class="form hidden" hx-get="/incexp/owners-accounts" id="incexp-filters-form" hx-target="this" hx-swap="afterbegin"  hx-trigger="load">
        
        <div class="row my-2">
            <div class="col">
                <label for="limit">Ilość rekordów</label>
                <select class="form-select" name="limit">
                    <option value=5>5</option>    
                    <option value=10 selected>10</option>    
                    <option value=50>50</option>
                    <option value=100>100</option>    
                </select>
            </div>
        </div>
    
        <div class="row my-2">
            <div class="col">
                <label for="created_date_from">Data od</label>
                <input type="date"  class="form-control" placeholder="Wpisz datę" name="created_date_from">
            </div>
            <div class="col">
                <label for="created_date_to">Data do</label>
                <input type="date"  class="form-control" placeholder="Wpisz datę" name="created_date_to">
            </div>
            <div class="col">
                <label for="source">Źródło</label>
                <input type="text"  class="form-control" placeholder="Szukaj źródła" name="source">
            </div>
        </div>

        <div class="row my-2">
            <div class="col">
                <label for="type-id">Typ</label>
                <select class="form-select" name="type-id" hx-get="/incexp/categories" hx-trigger="load, change" hx-target="#category" hx-swap="innerHTML">
                    <option value=1 selected>Wydatek</option>   
                    <option value=2>Dochód</option>    
                </select>
            </div>

            <div class="col">
                <label for="type-id">Kategoria</label>
                <select class="form-select" id="category" name="category-id" hx-get="/incexp/subcategories" hx-trigger="change" hx-target="#subcategory" hx-swap="innerHTML">
                </select>
            </div>

            <div class="col">
                <label for="type-id">Podkategoria</label>
                <select class="form-select" id="subcategory" name="subcategory-id">
                </select>
            </div>

        </div>
        
        <div class="row my-2">
            <div class="col">
                <input type="text"  class="form-control" placeholder="Szukaj komentarza" name="comment">
            </div>
            <div class="col">
                <input type="text"  class="form-control" placeholder="Szukaj powiązania" name="connection">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="submit"  class="form-control my-2"  value="Wybierz" class="create_edit">
            </div>
        </div>

        </form>
    </div>  


    <div class="container my-2 border border-white rounded">
        <button class="btn btn-primary my-2" hx-on:click="htmx.toggleClass(htmx.find('#incexp-add-form'), 'hidden');">
            Dodaj rekord
        </button>   
        <form class="form" id="incexp-filters-form">

            <div class="row my-2">
                <div class="col">
                    <select class="form-select" name="type-id_1" hx-get="/incexp/categories" hx-trigger="load, change" hx-target="#addincepx-category" hx-swap="innerHTML">
                        <option value=1 selected>Wydatek</option>   
                        <option value=2>Dochód</option>    
                    </select>
                </div>
                <div class="col">
                    <input type="date"  class="form-control" placeholder="Wpisz datę" name="date_1">
                </div>    
                <div class="col">
                    <input type="text"  class="form-control" placeholder="Źródło" name="source_1">
                </div>    
                <div class="col">
                    <strong>
                        <span>PLN</span> 
                    </strong>
                </div>    
            </div>
            
            {# POSITION #}
            <div id="incexp-add-positions-box">
                <div class="container my-2 border border-white rounded">
                    <div class="row my-2">

                        <div class="col">
                            <span>1</span>
                        </div>    

                        <div class="col">
                            <select class="form-select" id="addincepx-category" name="category-id_1" hx-get="/incexp/subcategories" hx-trigger="load delay:1s, change" hx-target="#addincepx-subcategory" hx-swap="innerHTML">
                            </select>
                        </div>    

                        <div class="col">
                            <select class="form-select" id="addincepx-subcategory" name="subcategory-id_1">
                            </select>
                            </div>    

                        <div class="col">
                            <input type="number" min="0.00" step="0.01" value=0.00 class="form-control" name="amount_1" >
                        </div>    
                        
                    </div>

                    <div class="row my-2">
                        <div class="col">
                            <input type="text"  class="form-control" placeholder="Komentarz" name="comment_1">
                        </div>    
                        <div class="col">
                            <input type="text"  class="form-control" placeholder="Powiązanie" name="connection_1">
                        </div>    

                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <button type="submit" class="btn btn-primary" >Prześlij</button>
                    <button class="btn btn-secondary" type="button" hx-get="/incexp/position" hx-trigger="click" hx-target="#incexp-add-positions-box" hx-swap="beforeend">Dodaj pozycję</button>
                    <button class="btn btn-secondary" type="button" >Usuń pozycję</button>
                </div>   
            </div>
        </form>
    </div>

    {# INCEXP LIST #}
    <div class="container py-2 border border-white rounded">
        {% for incexp in incexp_list %}
            <div class="container my-2 py-2 border border-warning rounded"">
                <div class="container border border-primary rounded">
                    <div class="row">
                        <div class="col"><span>{{ incexp.type.name_pl }}</span></div>
                        <div class="col-4"><span>{{ incexp.date }}</span></div>
                        <div class="col-4"><span>{{ incexp.source }}</span></div>
                        <div class="col"><span>{{ incexp.incexp_positions | sum(attribute='amount_absolute') | round(2) }} PLN</span></div>
                    </div>
                </div>

            {% for incexp_position in incexp.incexp_positions %}
                <div class="container my-2">

                    <div class="row ">
                        <div class="col"><span>{{ incexp_position.position_id }} </span></div>
                        <div class="col-4"><span>{{ incexp_position.category.name_pl }} </span></div>
                        <div class="col-4"><span>{{ incexp_position.subcategory.name_pl }} </span></div>
                        <div class="col "><span>{{ incexp_position.amount_absolute }} PLN </span></div>
                    </div>

                    <div class="row border-bottom border-black">
                        <div class="col">{{ incexp_position.comment }}</div>
                        <div class="col">{{ incexp_position.connection }}</div>
                        <div class="col">{{ incexp_position.updated_at_cet.strftime('%Y-%m-%d %H:%M') }}</div>
                    </div>
                    
                </div>


            {% endfor %}
            </div>
        {% endfor %}

    </div>

{% endblock %}
