{% extends "base.html" %}

{% block content %}
    <h2 class="pt-2">Dochody i wydatki</h3>

    {# FILTERS #}
    <div  class="container my-2 border border-white rounded">


        <button class="btn btn-primary my-2" hx-on:click="htmx.toggleClass(htmx.find('#incexp-filters-details'), 'hidden');">
            Filtruj rekordy
        </button>

        <form class="form">

            <select class="form-select my-2" aria-label="Default select example" id="owner-account-ids" name="owner-account-ids">
                {% for account in accounts%}
                    <option value="{{ account.owner_id }}_{{ account.id }}" 
                    {% if owner_account_ids == account.owner_id|string + '_' + account.id  %} selected {% endif %}
                        >{{ account.owner.name_pl }} - {{ account.name_pl }} </option>   
                {% endfor %}
            </select>

        <div id="incexp-filters-details" class="hidden">
            <div class="row my-2">
                <div class="col">
                    <label for="limit">Ilość rekordów</label>
                    <select class="form-select" name="limit">
                        <option value=5>5</option>    
                        <option value=10>10</option>    
                        <option selected value=50 >50</option>
                        <option value=100>100</option>    
                        <option value=500>500</option>    
                    </select>
                </div>

                <div class="col">
                     <label for="amount">Wartość pozycji</label>
                    <input type="number" step="0.01" class="form-control" placeholder="Podaj wartość" name="amount">
                </div>
            </div>
        
            <div class="row my-2">
                <div class="col">
                    <label for="created_date_from">Data od</label>
                    <input type="date"  class="form-control" placeholder="Wpisz datę" name="created_date_from">
                </div>
                <div class="col">
                    <label for="created_date_to">Data do</label>
                    <input type="date"  class="form-control" placeholder="Wpisz datę" name="created_date_to">
                </div>
                <div class="col">
                    <label for="source">Źródło</label>
                    <input type="text"  class="form-control" placeholder="Szukaj źródła" name="source">
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <label for="type-id">Typ</label>
                    <select class="form-select" name="type-id" hx-get="/incexp/categories" hx-trigger="load, change" hx-target="#category" hx-swap="innerHTML">
                        <option selected></option>
                        <option value=1 >Wydatek</option>   
                        <option value=2>Dochód</option>    
                    </select>
                </div>

                <div class="col">
                    <label for="type-id">Kategoria</label>
                    <select class="form-select" id="category" name="category-id" hx-get="/incexp/subcategories" hx-trigger="change" hx-target="#subcategory" hx-swap="innerHTML">
                    </select>
                </div>

                <div class="col">
                    <label for="type-id">Podkategoria</label>
                    <select class="form-select" id="subcategory" name="subcategory-id">
                    </select>
                </div>

            </div>
            
            <div class="row my-2">
                <div class="col">
                    <input type="text"  class="form-control" placeholder="Szukaj komentarza" name="comment">
                </div>
                <div class="col">
                    <input type="text"  class="form-control" placeholder="Szukaj powiązania" name="connection">
                </div>
            </div>

        </div>
            <div class="row">
                <div class="col">
                    <button type="" class="btn btn-primary my-2">Wybierz</button>
                </div>
            </div>
        </form>
    </div>  

    {# NEW INCEXP #}
    <div class="container my-2 border border-white rounded">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary my-2" hx-on:click="htmx.toggleClass(htmx.find('#incexp-add-form'), 'hidden');">
                    Pokaż/ukryj nowy paragon 
                </button>   
            </div>
        </div>

        <button class="btn btn-primary" hx-on:click="htmx.toggleClass(htmx.find('#incexp-add-positions-box_1'), 'hidden');">1</button>
        <button class="btn btn-primary" hx-on:click="htmx.toggleClass(htmx.find('#incexp-add-positions-box_2'), 'hidden');">2</button>
        <button class="btn btn-primary" hx-on:click="htmx.toggleClass(htmx.find('#incexp-add-positions-box_3'), 'hidden');">3</button>
        <button class="btn btn-primary" hx-on:click="htmx.toggleClass(htmx.find('#incexp-add-positions-box_4'), 'hidden');">4</button>
        <button class="btn btn-primary" hx-on:click="htmx.toggleClass(htmx.find('#incexp-add-positions-box_5'), 'hidden');">5</button>
        <button class="btn btn-primary" hx-on:click="htmx.toggleClass(htmx.find('#incexp-add-positions-box_6'), 'hidden');">6</button>

        <form class="form" id="incexp-add-form" hx-post="/incexp" hx-target="#incexp_list_existing" hx-swap="innerHTML" hx-trigger="submit" hx-on::after-request="if(event.target.id == 'incexp-add-form') {this.reset(); htmx.trigger('#incexp-type-select', 'change'); }">

            {% for account in accounts%}
                {% if owner_account_ids == account.owner.id|string + '_' + account.id  %} 
                    <input type="hidden" id="owner_accounts_ids" name="owner_accounts_ids" value={{ account.owner.id }}_{{account.id}}>
                {% endif %}
            {% endfor %}

            <div class="row my-2">
                <div class="col">
                    {{ incexp_header_form.type(class = "form-select", id="incexp-type-select",
                                                    **{'hx-get': '/incexp/cat-sub-options', 
                                                       'hx-trigger': 'load, change', 
                                                       'hx-swap':'multi:#positions-0-category:innerHTML,#positions-1-category:innerHTML,#positions-2-category:innerHTML,#positions-3-category:innerHTML,#positions-4-category:innerHTML,#positions-5-category:innerHTML',
                                                       'hx-ext':"multi-swap",
                                                       } ) 
                    
                    }}
                </div>
                <div class="col">
                    {{ incexp_header_form.date(class = "form-control") }}
                </div>    
                <div class="col">
                    {{ incexp_header_form.source(class = "form-control") }}
                </div>    
                <div class="col">
                    <strong>
                        <span id="incexp-total-amount">PLN</span> 
                    </strong>
                </div>    
            </div>
            
            {# POSITIONS #}
            <div id="incexp-add-positions-box" >
                {% with incexp_header_form=incexp_header_form %}
                    {% include "incexp/utils/incexp_position.html.jinja"%}
                {% endwith %}
            </div>

            <div class="row my-2">
                <div class="col">
                    <button type="submit" class="btn btn-primary" >Prześlij</button>
                </div>   
            </div>
        </form>
        
    </div>

 
    {# INCEXP LIST #}
    <div class="container py-2 border border-white rounded" id="incexp_list_existing">
        {% with incexp_list=incexp_list %}
            {% include "incexp/utils/incexp_list_existing.html.jinja" %}
        {% endwith %}
    </div>

<script>

    function sumPositions(){
        const positionsAmount = document.querySelectorAll(".position-amount");
        const incexpTotalSpan = document.querySelector("#incexp-total-amount")
        
        let sum = 0;
        positionsAmount.forEach( position => {
            if (parseFloat(position.value)){
                sum += parseFloat(position.value);
            }
        });

        incexpTotalSpan.innerHTML = `${sum} PLN`;
    }

    sumPositions()

    const positions = document.querySelectorAll(".position-amount");
    positions.forEach( position => {
        position.addEventListener("change", (event) => {
            sumPositions()
        })
    })


</script>

{% endblock %}
