{% from "incexp/utils/incexp_position_render_catsub_edit.html.jinja" import render_field %}

{% extends "base.html" %}
{% block content %}

<h2 class="my-2">Wprowadź zmiany</h2>

<div class="container my-2 border border-white rounded">

    <form class="form" id="incexp-add-form" action='/incexp/{{ incexp.id }}/edit' method="POST">

        <div class="row my-2">
            <div class="col">
                {{ incexp_header_form.type(class = "form-select", 
                                                    **{'hx-get': '/incexp/cat-sub-options', 
                                                    'hx-trigger': 'change', 
                                                    'hx-swap':'multi:#positions-0-category:innerHTML,#positions-1-category:innerHTML,#positions-2-category:innerHTML,#positions-3-category:innerHTML,#positions-4-category:innerHTML,#positions-5-category:innerHTML',
                                                    'hx-ext':"multi-swap",
                                                    } ) 
                
                }}
            </div>
            <div class="col">
                {{ incexp_header_form.date(class = "form-control") }}
            </div>    
            <div class="col">
                {{ incexp_header_form.source(class = "form-control") }}
            </div>    
            <div class="col">
                <strong>
                    <span id="incexp-total-amount">PLN</span> 
                </strong>
            </div>    
        </div>

        {# POSITIONS #}
        <div id="incexp-add-positions-box">
            {% for position in incexp.incexp_positions %}

                <div class="container my-2 border border-white rounded" id="incexp-add-positions-box_{{loop.index}}">
                    <div class="row my-2">

                        <div class="col-1"><span>{{ position.position_id }}</span></div>    

                        <div class="col">
                            {{ render_field(incexp_header_form.positions[position.position_id].category) }}
                        </div>    

                        <div class="col">
                            {{ incexp_header_form.positions[position.position_id].amount(class = "form-control position-amount") }}
                        </div>    
                    </div>

                    <div class="row my-2">
                        <div class="col-1"><span></span></div>

                        <div class="col">{{ incexp_header_form.positions[position.position_id].comment(class= "form-control")}}</div>

                        <div class="col">{{ incexp_header_form.positions[position.position_id].connection(class= "form-control")}}</div>    

                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="row my-2">
            <div class="col">
                <button type="submit" class="btn btn-primary" >Prześlij</button>
            </div>   
        </div>
        
    </form>
</div>

<script>

    function sumPositions(){
        const positionsAmount = document.querySelectorAll(".position-amount");
        const incexpTotalSpan = document.querySelector("#incexp-total-amount")
        
        let sum = 0;
        positionsAmount.forEach( position => {
            if (parseFloat(position.value)){
                sum += parseFloat(position.value);
            }
        });

        incexpTotalSpan.innerHTML = `${sum} PLN`;
    }

    sumPositions()

    const positions = document.querySelectorAll(".position-amount");
    positions.forEach( position => {
        position.addEventListener("change", (event) => {
            sumPositions()
        })
    })


</script>

{% endblock %}
